# **Import data**

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/IS/Model_Real/m1_classify.csv')
df2 = pd.read_csv('/content/drive/MyDrive/IS/Model_Real/m2_classify.csv')
df3 = pd.read_csv('/content/drive/MyDrive/IS/Model_Real/m3_classify.csv')

In [ ]:
df1.count()

Datetime      37352
label         37352
score         37352
Text          37352
CleanTweet    37352
dtype: int64

In [ ]:
df2.count()

Datetime      34384
label         34384
score         34384
Text          34384
CleanTweet    34384
dtype: int64

In [ ]:
df3.count()

Datetime      27566
label         27566
score         27566
Text          27566
CleanTweet    27566
dtype: int64

# **Manage data**

In [ ]:
#Combine all 3 months of data together
q1 = [df1, df2, df3]
q1_df = pd.concat(q1)

In [ ]:
q1_df.count()

Datetime      99302
label         99302
score         99302
Text          99302
CleanTweet    99302
dtype: int64

In [ ]:
q1_df.to_csv('/content/drive/MyDrive/IS/Model_Real/q1_classify.csv', index=False, header=True)

In [ ]:
#Find and Count sentiment
q1_df.label.value_counts()

neu    48736
neg    48598
pos     1952
q         16
Name: label, dtype: int64

In [ ]:
q1_df.head()

,Datetime,label,score,Text,CleanTweet
0,2022-01-01 00:01:09+00:00,neu,0.602003,Happy New Year 2022\nขอให้ปีนี้มีแต่เรื่องดีๆ ...,happy<_>new<_>year<_>2022<_>ขอให้ปีนี้มีแต่เรื...
1,2022-01-01 00:05:23+00:00,neu,0.792513,ปีใหม่ขอรัฐบาลใหม่จ้า ขอแบบมาจากการเลือกตั้งที...,ปีใหม่ขอรัฐบาลใหม่จ้า<_>ขอแบบมาจากการเลือกตั้ง...
2,2022-01-01 00:13:06+00:00,neu,0.717748,@redbamboo16 ชัดเจน แจ่มแจ้ง เพียงแค่เรามีรัฐบ...,ชัดเจน<_>แจ่มแจ้ง<_>เพียงแค่เรามีรัฐบาลดีๆ<_>ไ...
3,2022-01-01 00:13:14+00:00,neu,0.541315,Happy new year\n (ปีใหม่แล้ว รัฐบาลใหม่ได้ย...,happy<_>new<_>year<_>(ปีใหม่แล้ว<_>รัฐบาลใหม่ไ...
4,2022-01-01 00:14:34+00:00,neu,0.729572,2022 ขอให้คนไทยได้นายกใหม่กันถ้วนหน้า มีคุณภาพ...,2022<_>ขอให้คนไทยได้นายกใหม่กันถ้วนหน้า<_>มีคุ...

In [ ]:
q1_neu = q1_df[q1_df['label'] == 'neu'].reset_index(drop=True)

q1_neg = q1_df[q1_df['label'] == 'neg'].reset_index(drop=True)

q1_pos = q1_df[q1_df['label'] == 'pos'].reset_index(drop=True)

q1_q = q1_df[q1_df['label'] == 'q'].reset_index(drop=True)

In [ ]:
q1_neu.to_csv('/content/drive/MyDrive/IS/Model_Real/neu_q1.csv', index=False, header=True)
q1_neg.to_csv('/content/drive/MyDrive/IS/Model_Real/neg_q1.csv', index=False, header=True)
q1_pos.to_csv('/content/drive/MyDrive/IS/Model_Real/pos_q1.csv', index=False, header=True)
q1_q.to_csv('/content/drive/MyDrive/IS/Model_Real/q_q1.csv', index=False, header=True)

# **Random sample**

In [ ]:
#random for label(manual)
sample1 = q1_df.sample(n=100)
sample2 = q1_df.sample(n=100)
sample3 = q1_df.sample(n=100)

In [ ]:
sample1.to_csv('/content/drive/MyDrive/IS/Model_Real/sample1.csv', index=False, header=True)
sample2.to_csv('/content/drive/MyDrive/IS/Model_Real/sample2.csv', index=False, header=True)
sample3.to_csv('/content/drive/MyDrive/IS/Model_Real/sample3.csv', index=False, header=True)